<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=	, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Document</title>
</head>
<body>
	<div class="show">
		<h1 contenteditable="true">cuong1</h1>
		<h2 contenteditable="true">cuong1</h2>
	</div>
	
	<button class="click">click</button>
	


</body>

</html>

<script type="text/javascript">
		$( ".click" ).click(function() {
		  console.log($('html').html());
		});
	</script>